<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JQuery.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <!--<compilation debug="true" targetFramework="4.0"/>-->
    <compilation debug="true" />
  </system.web>
  <system.net>
    <settings>

      <servicePointManager expect100Continue="false" />

    </settings>
  </system.net>

  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="Ricsa" connectionString="data source = 192.168.21.118; user = sa; password = Adminpwd20; initial catalog = Napresa_GM_ok" providerName="System.Data.SqlClient" />
    <add name="napresaReal" connectionString="Data Source=192.168.21.118;Initial Catalog=napresaws_ok;Persist Security Info=True;User ID=sa;Password=Adminpwd20"
      providerName="System.Data.SqlClient"/>
    <add name="DesarrolloNapresaConnectionString" connectionString="Data Source192.168.21.223;Initial Catalog=DesarrolloNapresa;Persist Security Info=True;User ID=sa;Password=Adminpwd20"
      providerName="System.Data.SqlClient"/>
    <add name="DataSourceLabels" connectionString="Data Source=192.168.0.247;Initial Catalog=PRUEBASNAPRESA;Persist Security Info=True;User ID=solutia;Password=Adminpwd20"
  providerName="System.Data.SqlClient"/>
    <!--<add name="Ricsa" connectionString="data source = 192.168.0.229; user = sa; password = NapresaPwd20; initial catalog = NapresaGM" providerName="System.Data.SqlClient" />
    <add name="napresaReal" connectionString="Data Source=192.168.0.229;Initial Catalog=napresaws;Persist Security Info=True;User ID=sa;Password=NapresaPwd20"
      providerName="System.Data.SqlClient"/>
    <add name="DesarrolloNapresaConnectionString" connectionString="Data Source=172.16.1.31;Initial Catalog=DesarrolloNapresa;Persist Security Info=True;User ID=sa;Password=Adminpwd20"
      providerName="System.Data.SqlClient"/>
    <add name="DataSourceLabels" connectionString="Data Source=192.168.0.247;Initial Catalog=PRUEBASNAPRESA;Persist Security Info=True;User ID=solutia;Password=Adminpwd20"
      providerName="System.Data.SqlClient"/>
    <add name="napresawsConnectionString" connectionString="Data Source=192.168.0.229;Initial Catalog=napresaws;Persist Security Info=True;User ID=sa;Password=NapresaPwd20"
      providerName="System.Data.SqlClient"/>
    <add name="napresawsConnectionString2" connectionString="Data Source=172.16.1.31;Initial Catalog=napresaReal;Persist Security Info=True;User ID=sa;Password=Adminpwd20"
      providerName="System.Data.SqlClient"/>-->
    <!--Conexiones de Solutia-->
    <!--<add name="napresaSolutia" connectionString="Data Source=172.16.1.31;Initial Catalog=napresaws;Persist Security Info=True;User ID=sa;Password=Adminpwd20;"
     providerName="System.Data.SqlClient"/>
    <add name="labelsSolutia" connectionString="Data Source=172.16.1.31;Initial Catalog=napresaReal;Persist Security Info=True;User ID=sa;Password=Adminpwd20"
      providerName="System.Data.SqlClient"/>
    Conexiones de Napresa-->
    <!--Mariana <add name="napresaSolutia" connectionString="Data Source=192.168.0.229;Initial Catalog=napresaws;Persist Security Info=True;User ID=sa;Password=NapresaPwd20;" providerName="System.Data.SqlClient" />
    <add name="labelsSolutia" connectionString="Data Source=192.168.0.247;Initial Catalog=PRUEBASPILLO;Persist Security Info=True;User ID=solutia;Password=Adminpwd20" providerName="System.Data.SqlClient" />  -->
    
    <add name="napresaSolutia"  connectionString="Data Source=192.168.21.118;Initial Catalog=napresaws_pruebas;Persist Security Info=True;User ID=sa;Password=Adminpwd20;" providerName="System.Data.SqlClient" />
    <add name="labelsSolutia"   connectionString="Data Source=192.168.21.118;Initial Catalog=PRUEBASPILLO;Persist Security Info=True;User ID=sa;Password=Adminpwd20;" providerName="System.Data.SqlClient" />
    <add name="NapresaPar"   connectionString="Data Source=192.168.21.118;Initial Catalog=NapresaPar_ok;Persist Security Info=True;User ID=sa;Password=Adminpwd20" providerName="System.Data.SqlClient" />

  </connectionStrings>

  <applicationSettings>
    <JQuery.Properties.Settings>
      <setting name="JQuery_wsNapresa_Service1" serializeAs="String">
        <value>http://192.168.0.229/EntregasWS/Service1.asmx</value>
      </setting>
      <setting name="JQuery_wsGM_Service1" serializeAs="String">
        <value>http://172.16.1.31/NapresaWS/Service1.asmx</value>
      </setting>
      <setting name="JQuery_NapresaLocalhost_Service1" serializeAs="String">
        <value>http://192.168.21.118:51671/Service1.asmx</value>
      </setting>
    </JQuery.Properties.Settings>
  

  
  </applicationSettings>
    <system.webServer>
        <directoryBrowse enabled="true" />
      
    </system.webServer>
    <system.web>
       <trust level="Full" />
    </system.web>
</configuration>
