<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="ParametrosContext" connectionString="Data Source=192.168.21.118;Initial Catalog=napresapar_ok;Persist Security Info=True;User ID=sa;Password=Adminpwd20; timeout=10;" providerName="System.Data.SqlClient" />
    <!--<add name="ParametrosContext" connectionString="Data Source=192.168.21.118;Initial Catalog=Parametros;Persist Security Info=True;User ID=sa;Password=NapresaPwd20; timeout=10;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ParametrosContext" connectionString="Server=187.188.147.6; Initial Catalog=Parametros; User Id=sa; Password=Adminpwd20;" providerName="System.Data.SqlClient" />-->
    <!--"Data Source=192.168.21.118;Initial Catalog=Parametros;Persist Security Info=True;User ID=sa;Password=NapresaPwd20; timeout=10"-->
    <!-- Data Source=187.188.147.6; Initial Catalog=Parametros; User ID=sa; Password=Adminpwd20;" -->
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
  </system.web>
</configuration>
